<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/index.css">
    <title>Main Page</title>
</head>

<body>
    <h1>Welcome to Entry Management</h1>
    <div class="container">
        <div class="left">
            <form action="/CheckIn" method="GET">
                <button type="submit">CheckIn</button>
            </form>
        </div>
        <div class="right">
            <form action="/CheckOut" method="GET">
                <button type="submit">CheckOut</button>
            </form>
        </div>
    </div>
</body>

</html>